<section class="fotoSection">
    <div class="container">
        <h2 class="headline2 fotoHeadline1">Vaše značka bude<br>řehlédnutelná <span>jak ve městech...</span></h2>
        <div class="fotoSectionImgDiv1"><img src="resources/pohledMesto1.png" alt=""></div>
    </div>
    <div class="container">    
        <h2 class="headline2 fotoHeadline2"><span>... tak na cestách!</span></h2>
        <div class="fotoSectionImgDiv2"><img src="resources/pohledDalnice1.png" alt=""></div>
    </div>
</section>