.fotoHeadline1 {
    margin: 320px 0px 0px 0px;
}

.fotoHeadline2{
    margin: 108px 131px 0px 0px;
}

.fotoSection h2 span {
    font-family: 'Objectivity-Medium';
    color: #33266B;
}

.fotoSectionImgDiv1 {
    margin-top: 80px;
    position: relative;
    left: -308px;
}

.fotoSectionImgDiv2 {
    position: relative;
    left: 416px;
    bottom: 50px;
}