<section class="fotoSection">
    <div class="container">
        <h2 class="fotoHeadline1">Vaše značka bude<br>řehlédnutelná <span>jak ve městech...</span></h2>

    </div>
    <div class="fotoSectionImgDiv1">
            <img src="images/bg/pohledMesto1.png" alt="">
    </div>
    <div class="container">    
        <h2 class="fotoHeadline2"><span>... tak na cestách!</span></h2>
    </div>
    <div class="fotoSectionImgDiv2">
            <img src="images/bg/pohledDalnice1.png" alt="">
    </div>
</section>