.fotoSection{
    margin-top: 320px;
    overflow: hidden;
    h2{
        @include h2Light();
        color: #3A3A3A;
    }
    .fotoHeadline2{
        margin: 108px 131px 0px 0px;
    }
    h2 span {
        @include h2Medium();
        color: #33266B;
    }
    .fotoSectionImgDiv1 {
        margin-top: 80px;
        position: relative;
        left: -308px;
    }
    .fotoSectionImgDiv2 {
        position: relative;
        left: 416px;
        bottom: 50px;
    }
}