.horizontalScroll{
    // position: relative;
    margin-top: 250px;
    @include windowMax1440p(){
        margin-top: 220px;
    }
    height: 200vh; // must be same as distance scrolled

    .background {
        z-index: 5;
        width: 100%;
        height: 100vh;
        background-image: url("images/bg/horizontalScrollBackground.png"); /* The image used */
        background-color: #cccccc; /* Used if the image is unavailable */
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size:cover; /* Resize the background image to cover the entire container */
        display: block;
        overflow: hidden;
    }

    h2 {
        @include h3Medium();
        margin: 30vh 0 48px 0;
        color: #FFFFFF;
        width: 100%;
    }

    .card3Container {
        display: flex; 
        flex-direction: row;
        align-items: flex-start;
        overflow: hidden;
        width: 300%;
        margin-left: calc((100%-1224px)/2);
        @include windowMax1440p(){
            margin-left: calc((100%-1046px)/2);
        }
    }

    .card3 {
        width: 416px;
        height: 416px;
        background: rgba(242, 239, 245, 0.2);
        border-radius: 12px;
        margin-right: 32px;

        backdrop-filter: blur(10px);   
             
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        @include windowMax1440p(){
            width: 340px;
            height: 340px;
        }

        p {
            @include h4Regular();
            color: #FFFFFF;
            max-width: 280px;
            @include windowMax1440p(){
                // @include h5Medium();
                // color: #FFFFFF;
                font-size: 20px;
            }
        }
    }
    @include mobileMax768p(){
        margin-top: 140px;
        .container {
            width: calc(100vw-80px);
            h2 {
                @include h4Medium();
                margin: 40vh 0 24px 0px;
                color: #FFFFFF;
                width: 100%;
            }
        }
        .card3Container {
            width: fit-content;
            margin-left: 40px;
        }
        .card3 {
            width: 250px;
            height: 280px;
            margin-right: 16px;
    
            p {
                @include bodyText14pxRegular();
                color: #FFFFFF;
                max-width: 160px;
            }
        }
    }
}