<section class="horizontalScroll">
    <div class="background">
        <div class="container">
            <h2>Co s námi získáte?</h2>
        </div>
        <div class="card3Container">
            <div class="card3">
                <p>Výběr tras napříč klíčovými regiony s flotilou nízkoemisních kamionů</p>
            </div>
            <div class="card3">
                <p>Návrh kreativního zpracování zdarma</p>
            </div>
            <div class="card3">
                <p>Přístupy do klientského GPS portálu 24/7 pro snadné sledování a vyhodnocení</p>
            </div>
            <div class="card3">
                <p>Efektivní investici - jeden z  nejlevnějších způsobů k získání 1000 impresí napříč mediatypy</p>
            </div>
            <div class="card3">
                <p>Pravidelné kontroly čistoty a stavu Vaší reklamy</p>
            </div>
            <div class="card3">
                <p>Reklamní formát, který nelze zahodit, přeladit nebo vypnout</p>
            </div>
        </div>

    </div>
</section>