<section class="horizontalScroll">
    <div class="background">
        <div class="container">
            <h2 class="headline2">Co s námi získáte?</h2>
        </div>
        <div class="card3Container">
            <div class="card3">
                <p class="h4Regular">Výběr tras napříč klíčovými regiony s flotilou nízkoemisních kamionů</p>
            </div>
            <div class="card3">
                <p class="h4Regular">Návrh kreativního zpracování zdarma</p>
            </div>
            <div class="card3">
                <p class="h4Regular">Přístupy do klientského GPS portálu 24/7 pro snadné sledování a vyhodnocení</p>
            </div>
            <div class="card3">
                <p class="h4Regular">Efektivní investici - jeden z  nejlevnějších způsobů k získání 1000 impresí napříč mediatypy</p>
            </div>
            <div class="card3">
                <p class="h4Regular">Efektivní investici - jeden z  nejlevnějších způsobů k získání 1000 impresí napříč mediatypy</p>
            </div>
        </div>

    </div>
</section>