<section class="kontakt">
    <div>
        <div class="container">
            <div class="textContainer">
                <p class="bodytext12">KONTAKT</p>
                <h3 class="h3Light">Dát věci do pohybu ještě nebylo<br>jednodušší. <span>Konktaktuje nás!</span></h3>
                <button class="rozjetBtn bodytext14">Chci to rozjet</button>
            </div>
            <img src="images/bg/kontaktFoto.png" alt="">
        </div>
    </div>
</section>