<section class="kontakt">
    <div class="container">
        <div class="textContainer">
            <p>KONTAKT</p>
            <h3>Připomeňte se zákazníkům i ve<br>skutečném světě. <span>Konktaktuje nás!</span></h3>
            <button class="rozjetBtn">Chci to rozjet</button>
        </div>
        <div class="imgDiv">
            <img class="kontaktImgHover" src="images/bg/kontaktImageHover.png" alt="">
            <img class="kontaktImg" src="images/bg/kontaktImage.png" alt="">
        </div>
    </div>
</section>