<section class="footer">
    <div class="lineMobile"></div>
    <div class="container bulkInfo">
        <div class="logoMoto">
            <img src="images/bg/adwheelsLogoWhite.svg" alt="">
            <p>Překvapte své zákazníky právě tam, kde se pohybují. Právě tehdy, kdy jsou nejvnímavější.</p>
        </div>
        <div class="linkColumn">
            <p>Odkazy</p>
            <a href="">Inzerent</a>
            <a href="">Dopravce</a>
            <a href="">Agentura</a>
        </div>
        <div class="linkColumn">
            <p>Společnost</p>
            <a href="">O nás</a>
            <a href="">Výzkum</a>
            <a href="">GDPR</a>
        </div>
        <div class="linkColumn">
            <p>Další odkazy</p>
            <a href="">Kontakt</a>
            <a href="">Klientský portál</a>
                <a href="https://www.linkedin.com/company/adwheelscz/" class="linkedIn"><svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M3.256 1.536c0 .837-.647 1.514-1.658 1.514C.627 3.05-.02 2.373 0 1.536-.02.658.627 0 1.618 0c.991 0 1.618.658 1.638 1.536zM.082 13.999V4.247h3.073v9.751H.082zM5.618 7.359c0-1.216-.04-2.253-.08-3.11h2.668l.142 1.335h.061c.404-.618 1.415-1.555 3.053-1.555C13.484 4.03 15 5.346 15 8.216V14h-3.073V8.596c0-1.257-.444-2.114-1.556-2.114-.85 0-1.355.578-1.557 1.136-.081.2-.121.478-.121.758V14H5.62V7.359h-.002z" fill="#fff"/></svg></a>
                <a href="https://www.facebook.com/adwheelscz" class="facebook"><svg width="8" height="16" viewBox="0 0 8 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.588 2.878A8.778 8.778 0 006.12 2.72c-1.055 0-1.124.453-1.124 1.179v1.29h2.637l-.23 2.676H4.997V16h-3.3V7.865H0V5.19h1.697V3.535C1.697 1.27 2.774 0 5.479 0 6.419 0 7.106.136 8 .317l-.412 2.561z" fill="#fff"/></svg></a>
        </div>
        <div class="linkColumn">
            <p>Kancelář</p>
            <p class="adress">Adwheels s.r.o.<br>Žirovnická 3124<br>Praha 10 - Záběhlice<br>106 00</p>
        </div>
    </div>
    <div class="line"></div>
    <div class="container legalInfo">
        <p>Copyright © 2020 Adwheels - Reklama v pohybu | IČO: 04145151 | DIČ: CZ04145151 | Společnost je zapsána v obchodním rejstříku | Společnost je plátce DPH</p>
    </div>
</section>