<section class="map">
    <h2>Pomůžeme vám dostat se před oči<br><span>až 2 000 000 potenciálních zákazníků.</span><br>Ať už v ČR, nebo za hranicemi.</h2>
    <div class="mapContainer">
        <img src="images/bg/europe.svg">
        <img src="images/bg/czechRepublic.svg">
        <div class="highwaysContainer">
            <img src="images/bg/highways.svg">
        <div>
    </div>
        
</section>