.map {
    margin-top: 260px;
    h2{
        @include h2Light();
        text-align: center;
        color: #3A3A3A;
    }

    h2 span{
        @include h2Medium();
        color: #33266B;
    }

    .container{

        position: relative;
    }

    .highways {
        /* position: relative; */
        margin: 152px 0px 0px 169px;
    }
    .mapCz {
        position: absolute;
        top: -40px; 
        left: 70px;
        margin: 0;
    }
}