.dopady {
    margin-top: 140px;
    @include windowMax1440p(){
        margin-top: 150px;
    }
    h3 {
        @include h3Medium();
        text-align: center;
        color: #3A3A3A;
    }

    .container{
        display: flex; 
        justify-content: space-evenly;
        align-items: center;
        @include windowMax1440p(){
            max-width: 1046px;
        }
    }

    .card2 {
        width: 248px;
        height: 242px;
        text-align: center;
        margin-top: 64px;
        
        h2 {
            margin-top: 32px;
            @include h2Medium();
            color: #3A3A3A;
        }

        p {
            margin-top: 8px;
            @include bodyText14pxMedium();
            color: #3A3A3A;
        }
        
        @include windowMax1440p(){
            margin-top: 48px;
            h2 {
                margin-top: 16px;
            }
            img {
               transform: scale(0.8); 
            }
            
        }

    }
    .zdroj {
        @include bodyText14pxRegular();
        display: block;
        text-align: center;
        color: #3A3A3A;
        opacity: 0.8;
        margin-top: 64px;
        text-decoration-line: underline;
    }
}