.dopady h2 {
    margin-top: 280px;
    text-align: center;
}

.dopady .container:first-of-type{
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
}

.card2 {
    width: 246px;
    height: 177px;
    text-align: center;
    margin-top: 64px;
}

.card2 p {
    margin-top: 24px;
}

.card2 span{
    font-family: 'Objectivity-Medium';
}

.zdroj {
    display: block;
    text-align: center;
    color: #3A3A3A;
    opacity: 0.5;
    margin-top: 56px;
    margin-bottom: 80px;
}