<section class="dopady">
    <h2 class="headline2">Dopady spolupráce v číslech</h2>
    <div class="container">
        <div class="card2">
            <img src="images/bg/4outof5.svg" alt="">
            <p class="bodytext14"><span>potenciálních zákazníků</span> si reklamy<br>na kamionu všimne a každý pátý<br>si poté reklamu vyhledá</p>
        </div>
        <div class="card2">
            <img src="images/bg/3outof5.svg" alt="">
            <p class="bodytext14"><span>si reklamu vybaví</span><br>i několik týdnů poté, co ji<br>viděli</p>
        </div>
        <div class="card2">
            <img src="images/bg/1outof3.svg" alt="">
            <p class="bodytext14"><span>reaguje na další inzerentovu<br>komunikaci</span> poté, co viděli<br>reklamu na kamionu</p>
        </div>
    </div> 
    <p class="zdroj bodytext14">Zdroj: Výzkum zpracovaný pro Adwheels vědci z King's College v Londýně, 2020</p>
</section>