.dopady {
    margin-top: 280px;
    h3 {
        @include h3Medium();
        text-align: center;
        color: #3A3A3A;
    }

    .container{
        display: flex; 
        justify-content: space-evenly;
        align-items: center;
    }

    .card2 {
        width: 248px;
        height: 242px;
        text-align: center;
        margin-top: 64px;
        
        h2 {
            margin-top: 32px;
            @include h2Medium();
            color: #3A3A3A;
        }

        p {
            margin-top: 8px;
            @include bodyText14pxMedium();
            color: #3A3A3A;
        }
    }
    .zdroj {
        @include bodyText14pxRegular();
        display: block;
        text-align: center;
        color: #3A3A3A;
        opacity: 0.5;
        margin-top: 64px;
    }
}