<section class="quotes">
    <div class="container">
        <div class="dopadyFotoDiv">
            <img src="images/bg/dopadyFoto.png" alt="">
        </div>
        <div class="quoteCards">
            {# TODO: add all quotes to html instead of js #}
            <p class="cardNums">01<span>/08</span></p>
            <div class="quoteContainer">
                <p class="quote">Nekonvenční reklamní plochy kreativně reinterpretují použití tradičních médií způsoby, které napřímo aktivují zákazníky. Kombinace tradičních a nekonvenčních forem marketingové komunikace je jeden  z nejúčinnějších způsobů jak vybudovat znalost o značce a přimět zákazníky ke komunikaci s ní.</p>
                <p class="quote">Za celý život strávíme v autě více než 4 roky života. Za tu dobu průměrně 142x nouzově zabrzdíme, 3312x se napijeme, 2432x někoho políbíme, ale především se nudíme.</p>
                <p class="quote">Průměrný konzument je vystaven několika tisícům marketingových komunikačních sdělení za den, jen zlomku si však vědomě všimne. Pro inzerenty je tak stále obtížnější dosáhnout na své cílové skupiny.</p>
                <p class="quote">Navzdory rostoucí popularitě venkovní reklamy přistupují některé státy, včetně České republiky, k regulaci nebo dokonce k plošnému zákazu billboardů. Jedinou efektivní obranou marketingových profesionálu proti takovýmto tendencím je využití nekonvenčních forem marketingové komunikace.</p>
                <p class="quote">Tradičním inzertním plochám zasazuje velkou ránu jejich nadužívanost způsobující tzv. „billboardovou slepotu”. To de facto znamená, že „konvenční média ztrácí sílu přitáhnout zákazníkovu pozornost”.</p>
                <p class="quote">Pokud je člověk ve známém prostředí překvapen neznámým reklamním formátem, zaměří na něj svou pozornost a lépe si jej zapamatuje. Užití nekonvenčních venkovních ploch tak vede díky vyvolání překvapení k dramatickému nárůstu znalosti značky.</p>
                <p class="quote">Překvapený zákazník je náchylnější své pocity sdílet. Překvapení tedy pozitivně ovlivňuje frekvenci ústního doporučení, které je považováno za jeden z nejspolehlivějších zdrojů informací.</p>
                <p class="quote">Znalost značky a ústní doporučení hrají významnou roli během rozhodovacího procesu, a to zejména v kontextu prodejů inzerovaných produktů nebo služeb.</p>
            </div>
            <div class="authorContainer">
                <p class="qouteAuthor">(BIRAGHI, GAMBETTI A GRAFFIGNA, 2014)</p>
                <p class="qouteAuthor">(COMMON SENSE ADVISORY, 2018)</p>
                <p class="qouteAuthor">(SHAPIRO A NIELSEN, 2013 ; LOPEZ-PUMAREJO, BASSELL, 2009:33)</p>
                <p class="qouteAuthor">(MAHDAWI, 2015)</p>
                <p class="qouteAuthor">(VAN DEN PUTTE, 2009 ; BASS ET AL., 2007 ; DARKE A RITCHIE, 2007)</p>
                <p class="qouteAuthor">(HUTTER A HOFFMANN, 2011)</p>
                <p class="qouteAuthor">(DERBAIX A VANHAMME, 2003 ; HONG-YOUL, 2004)</p>
                <p class="qouteAuthor">(DAHLÉN, FRIBERG A NILSSON, 2009 ; DUAN, GU A WHINSTON, 2008)</p>
            </div>
            <div class="arrows">
                <button class="arrowLeft">
                    <img class="initArrow" src="images/bg/arrowLeftWhite.svg">
                    <img class="darkArrow" src="images/bg/arrowLeftDark.svg">
                </button>
                <button class="arrowRight">
                    <img class="initArrow" src="images/bg/arrowRightWhite.svg">
                    <img class="darkArrow" src="images/bg/arrowRightDark.svg">
                </button>
            </div>
        </div>
    </div>  
</section>