<section class="quotes">
    <div class="container">
        <div class="dopadyFotoDiv">
            <img src="images/bg/dopadyFoto.png" alt="">
        </div>
        <div class="quoteCards">
            <p class="cardNums">01<span>/08</span></p>
            <p class="quote">Nekonvenční reklamní plochy kreativně reinterpretují použití tradičních médií způsoby, které napřímo aktivují zákazníky. Kombinace tradičních a nekonvenčních forem marketingové komunikace je jeden  z nejúčinnějších způsobů jak vybudovat znalost o značce a přimět zákazníky ke komunikaci s ní.</p>
            <p class="qouteAuthor">(BIRAGHI, GAMBETTI A GRAFFIGNA, 2014)</p>
            <div class="arrows">
                <button class="arrowLeft">
                    <img class="initArrow" src="images/bg/arrowLeftWhite.svg">
                    <img class="darkArrow" src="images/bg/arrowLeftDark.svg">
                </button>
                <button class="arrowRight">
                    <img class="initArrow" src="images/bg/arrowRightWhite.svg">
                    <img class="darkArrow" src="images/bg/arrowRightDark.svg">
                </button>
            </div>
        </div>
    </div>  
</section>