.quotes {
    margin-top: 88px;
    .container {
        display: flex; 
        justify-content: space-between;
        align-items: flex-end;
    }

    .dopadyFotoDiv {
        width: 480px;
        height: 490px;
        border-radius: 12px;
        position: absolute;
        z-index: -1;
    }

    .dopadyFotoDiv img {
        border-radius: 12px;
    }

    .quoteCards {
        width: 808px;
        height: 490px;
        background: #33266B;
        border-radius: 12px;
        text-align: center;
        margin-left: 416px;

        .cardNums {
            margin-top: 77px;
            @include bodyText16pxMedium();
            color: #FFFFFF;
            span {
                @include bodyText16pxRegular();
                color: #FFFFFF;
                opacity: 0.5;
            }
        }

        .quote {
            @include h5Medium();
            color: #FFFFFF;
            max-width: 615px;
            text-align: center;
            margin: 24px auto 0 auto;
        }

        .qouteAuthor {
            margin-top: 16px;
            @include bodyText14pxRegular();
            color: #FFFFFF;
            opacity: 0.5;
        }

        .arrows button {
            box-sizing: border-box;
            padding: 15px 14px 16px 14px;
            margin: 32px 2px 0px 2px;
            border-radius: 50%;
            text-align: center;
            border: 1px solid #FFFFFF;
            /* background-color: rgb(255, 255, 255, 1); */
            background-color: #33266B;
        }
    }
}