.realizace h2 {
    text-align: center;
}

.realizace .container {
    display: flex; 
    flex-direction: row;
    justify-content:space-between;
    align-items: flex-start;
}

.card5 {
    width: 340px;
    height: 536px;
}

.card5 p:first-of-type {
    margin: 26px 0 8px 0;
    letter-spacing: 2px;
    color: #33266B;

}

.card5 h4 {
    margin-bottom: 16px;
    letter-spacing: -2px;
    color: #3A3A3A;
}

.card5 p:last-of-type {
    color: #3A3A3A;
    opacity: 0.8;
}