<section class="realizace">
    <h2>Jak probíhá realizace?</h2>
    <div class="container">
        <div class="card5">
            <img src="images/bg/pripravaFoto.png" alt="">
            <p>01</p>
            <h4>Příprava</h4>
            <p>Kampaně připravujeme na míru vašim konkrétním potřebám. Naše kreativní studio pomůže s návrhem i tvorbou vizuálu. Reklama je zpravidla nainstalovaná a v pohybu do 4 týdnů.</p>
        </div>
        <div class="card5">
            <img src="images/bg/portalGPS.png" alt="">
            <p>02</p>
            <h4>Kampaň</h4>
            <p>V průběhu kampaně máte k dispozici klientský portál, kde na jedno kliknutí naleznete veškeré podklady. Pohyb reklamních návěsů můžete také nepřetržitě sledovat. V průběhu kampaně plachty pravidelně čistíme a staráme se o jejich bezvadný stav.</p>
        </div>
        <div class="card5">
            <img src="images/bg/taska.png" alt="">
            <p>03</p>
            <h4>Po skončení</h4>
            <p>Po skončení kampaně vám plachty zašleme zpět tak, abyste je mohli kdykoliv opětovně použít. Alternativně vám z nich vyrobíme autentické firemní tašky nebo je v rámci CSR vaším jménem věnujeme charitativním organizacím, což povede k dodatečnému zvýšení povědomí o značce.</p>
        </div>
    </div>
</section>