<section class="reklamaVPohybu">
    <div>
        <div class="container">
            <p class="bodytext12">REKLAMA V POHYBU</p>
            <h3 class="h3Light">Každou kampaň připravujeme na klíč.<br><span>Zajímá vás cena? Kontaktujte nás.</span></h3>
            <button class="rozjetBtn bodytext14">Chci to rozjet</button>
        </div>
        <div class="container">
            <img src="resources/kamionFront.png" alt="">
        </div>
    </div>
</section>