.videoPopup {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    display: none;

    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // align-content: center;
    // justify-content: center;
    // background-color: red;


    .videoPopupContainer{
        height: 100%;
        width: fit-content;
        position: relative;
        margin: 110px auto 0 auto;
        
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        // background-color: blue;
    }

    // #player1 {
    //     // margin-top: calc(89px+25px);
    //     // display: none;
    // }

    .videoClose {
        position: absolute;
        top: 16px;
        right: -56px;
        // margin-bottom: 12px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.2);
        border: none;
        

        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        // display: none;
        &:hover {
            transition: background-color 0.25s;
            background-color: #D99A27;
            cursor: pointer;
        }
        img{
            transform: rotate(45deg);
        }
    }
    @include mobileMax768p(){
        .videoPopupContainer{
            margin: calc(50vh-100vw/16*9/2+48px/16*9/2) auto 0 auto;
            width: calc(100vw-48px);
            height: calc((100vw-48px)/16*9);
        }
        .videoClose{
            display:none;
        }
    }
}
