<section class="videoPopup">
    <div class="videoPopupContainer">
        {# <iframe width="560" height="315" src="https://www.youtube.com/embed/PDFxZSny9tA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>     #}
        <div id="player1" data-code="PDFxZSny9tA"></div>
        <button class="videoClose"><img src="images/bg/pricingExpandPlus.svg" alt=""></button>
    </div>
</section>

