.videoReference {
    margin-top: 180px;
    @include windowMax1440p(){
        margin-top: 104px;
    }
    // height: 100vh;
    // background-color: blue;

    h2 {
        @include h3Medium();
        text-align: center;
        color: #3A3A3A;
        margin-bottom: 40px;
    }
    .videoContainer{
        // border-radius: 12px;
        margin: 0 auto 0 auto;
        border: none;
        display: flex; 
        align-items:baseline;
        justify-content: center;
        position: relative;
        overflow: visible;
        height: calc(1100/16*9px);
        width: 1100px;
        @include windowMax1440p(){
            height: 900/16*9px;
            width: 900px;
        }
        // background-color: blue;
    }

    .video2 {
        border-radius: 12px;
        position: relative;
        // transform: translate(-50%, -50%);
        // background-color: red;
        height: 1100/16*9px;
        width: 1100;

        @include windowMax1440p(){
            height: 900/16*9px;
            width: 900px;
        }
    }

    .detailyKampane {
        @include bodyText14pxMedium();
        @include yellowHover();
        position: absolute;
        bottom: -27px;
        width: 305px;
        height: 54px;
        text-align: center;
        background: #D99A27;
        border-radius: 8px;
        border: none;
        padding: 16px 48px;
        color: #FFFFFF;
        margin: 0 auto 0 auto;
    }
}