<section class="videoReference">
    <h2>Podívejte se jak jsme uřídili kampaň pro Nordic Telecom</h2>
    <div class="videoContainer">
        <div id="player3" data-code="PDFxZSny9tA"></div>
        {# <iframe id="player2" src="https://www.youtube.com/embed/PDFxZSny9tA?mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> #}
        <button class="exploreDetails">Prozkoumat detaily kampaně</button>
        <button class="player3Play"><img src="images/bg/videoReferencePlayBtn.svg"></button>
    </div>
</section>