<section class="videoReference">
    <h2>Podívejte se jak jsme uřídili kampaň<br>pro Nordic Telecom</h2>
    <div class="videoContainer">
        <video class="video2" preload="" autoplay="true" muted="" playsinline="" loop="">
            <source src="images/content/videoReference.mp4" type="video/mp4">
        </video>        
        <button class="detailyKampane">Prozkoumat detaily kampaně</button>
    </div>
</section>