<section class="videoReference">
    <h2>Podívejte se jak jsme uřídili kampaň pro Nordic Telecom</h2>
    <div class="videoContainer">
        <video class="video2" preload="" autoplay="true" muted="" playsinline="" loop="">
            <source src="images/content/videoReference.mp4" type="video/mp4">
        </video>       
        <div id="player2"></div>
        <button class="detailyKampane">Prozkoumat detaily kampaně</button>
        <button class="player2Play"><img src="images/bg/videoReferencePlayBtn.svg"></button>
    </div>
</section>