<section class="info">
    <h3 class="headline2">Jak funguje reklama v pohybu?</h2>
    <div class="container">
        <div class="infoScrollBar"><div class="infoScroll"></div></div>
        <ul class="infoList">
            <li class="information">
                <span class="infoNum">01</span> 
                <h4>Využívá netradiční inzertní plochy</h4>
                <p class="infoText">Tato neobvyklá forma venkovní reklamy vám umožní zasáhnout více lidí z více oblastí v momentech, kdy jsou nejvnímavější. Tedy mimo domov - na silnicích, ve městech a v okolí supermarketů. Navíc ji mají před očima déle, než jiné inzertní plochy, je nepřehlédnutelá, nejde zmačkat ani přeladit a potenciální zákazníky opravdu překvapí.</p>
            </li>
            <li class="information">
                <span class="infoNum">02</span>
                <h4>Doplňuje komunikační mix
                <p class="infoText">Reklamní návěsy fungují jako doplněk integrované komunikační kampaně, zejména v úvodní "SEE" fázi, kdy potřebujete vykřičet do světa sdělení: "Jsme tady!". Navíc vám pomohou být vidět i v místech, kde nejsou billboardy legálně dostupné.</p>
            </li>
            <li class="information">
                <span class="infoNum">03</span>
                <h4>Šetří náklady díky znalosti</h4>
                <p class="infoText">Primárním úkolem reklamních návěsů je vybudování znalosti o značce a probíhajících kampaních. Díky růstu organického vyhledávání také zlevnění investic do online performance kanálů.</p>
            </li>
            <li class="information">
                <span class="infoNum">04</span>
                <h4>Předjede vaši konkurenci</h4>
                <p class="infoText">Vaše značka si zaslouží být na očích i s relativně nízkým rozpočtem. Efektivně zasáhněte co největší množství zákazníků a snáze prodejte.</p>
            </li>
        </ul>
        <div class="infoImages">
            <div class="infoImgDiv">
                <img src="images/bg/infoFoto1.png" alt="">
            </div>
            <div class="infoImgDiv">
                <img src="images/bg/infoFoto2.png" alt="">
            </div>
            <div class="infoImgDiv">
                <img src="images/bg/infoFoto3.png" alt="">
            </div>
            <div class="infoImgDiv">
                <img src="images/bg/infoFoto4.png" alt="">
            </div>
            <div class="purpleTransition"></div>
        </div>
    </div>                
</section>