.heroImage {
    overflow: hidden;
    display: flex;
    align-items: center;
    align-content: center;
    position: relative;
    height: 100vh;

    video {
        position: absolute;
        height: 100%;
        width: 177.77777778vh; /* 100 * 16 / 9 */
        min-width: 100%;
        min-height: 56.25vw; /* 100 * 9 / 16 */
        // height: 100vh;
        // object-fit: fill;
        // width: 100%;
        display: block;
        margin: 0px;
        padding: 0px;
    }
    .video1Filter {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        background-color: rgba(0,0,0,0.65);
    }

    .container {
        position: absolute;
        top: 35vh;
        right: 0;
        bottom: 0;
        left: 0;

        @include heroTextTransition();
        @include windowMax1440p(){
            max-width: 1046px;
        }
        @include windowMax1920p(){
            top: 35vh;
        }
        @include windowMax2048p(){
            top: 40vh;
        }
    }

    .heroImg {
        width: 100%;
        height: 100vh;
        background-color: #3A3A3A;
        object-fit: cover;
        background-image: url(images/content/heroImage.png);
    }

    .transpAdwheels{
        position: absolute;
        top: 0;
        right: -40px;
        // bottom: 0;
        // left: 0;
        font-family: 'Objectivity-Medium';
        font-style: normal;
        font-weight: 700;
        font-size: 160px;
        line-height: 160px;
        letter-spacing: -2px;
        color: #FFFFFF;
        opacity: 0.1;
        margin: calc(10vh+100px) 0px 0px 0px;
        // margin: 226px 0px 0px 830px;
        @include transpAdwheelsTransition();
        @include windowMax1440p(){
            font-size: 140px;
        }
    }

    .textAboveHeadline {
        @include bodyText12pxCAPS();
        color: #D99A27;
        margin: 20px 0px 0px 0; 
    }

    h1 {
        @include h1Medium();
        @include windowMax1440p(){
            @include h1MediumSmaller();
            color: white;
        }
        color: white;
        margin: 20px 0px 0px 0; 
    }

    .heroDecsription {
        max-width: 480px;
        @include bodyText16pxRegular();
        @include windowMax1440p(){
            @include bodyText14pxRegular();
            color: white;
            max-width: 430px;
        }
        color: white;
        margin: 20px 0px 0px 0; 
    }

    .call2Action {
        @include bodyText14pxMedium();
        @include yellowHover();
        background: #D99A27;
        color: #FFFFFF;
        border-radius: 8px;
        margin: 40px 0px 0px 0; 
        padding: 20px 40px 20px 40px;
        border: none;
    }
    
    .videoButtons {
        display: inline;
        margin-left: 40px; 
        .videoLoad{
            vertical-align: middle;
            
            .videoLoadCircle {
                transform-origin: 50% 50%;
                transform: rotate(-90deg);
    
                stroke-dasharray: 125;
                stroke-dashoffset: 125;
                animation: dash 4s linear forwards;
            }
            
            @keyframes dash {
                to {
                    stroke-dashoffset: 0;
                }
            }

            &:hover {
                cursor: pointer;
                rect {
                    fill: #D99A27;
                    fill-opacity: 1;
                }
            }
        }

        .popup-youtube {
            @include bodyText14pxRegular();
            background: none;
            border: none;
            display: inline;
            vertical-align: middle;
            color: white;
            text-decoration: none;
            margin-left: 16px;
            &:hover{
                cursor: pointer;
            }
        }
    }

    @include mobileMax768p{
        video {
            transform: translateX(-300px);
        }
        .transpAdwheels {display: none;}
        text-align: center;
        .container{
            top: auto;
            bottom: 120px;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: calc(100vw-80px);
        }
        h1{
            font-size: 40px;
            line-height: 48px;  
            margin-top: 16px
        }
        .heroDecsription{
            @include bodyText16pxRegular();
            color: white;
            max-width: 295px;
            margin-top: 12px;
        }
        .rozjet{
            margin: 40px 0 0 0;
        }
        .videoButtons{
            display: block;
            margin: 40px 0 0 0;
        }
    }
}