<nav>
    <div class="container">
        <div class="navLogo">
            <img class="logo" src="images\bg\adwheelsLogoWhite.svg" alt="">
            <button class="burgerMenuBtn"><svg width="24" height="10" viewBox="0 0 24 10" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="24" height="2" fill="white"/><rect y="8" width="24" height="2" fill="white"/></svg></button>
        </div>
        
        <div class="navButtons">
            <ul>
                <li class="sellected">
                    <a href="#Inzerent">Inzerent</a>
                    <img src="images\bg\navSelected.svg">
                </li>
                <li>
                    <a href="#Dopravce">Dopravce</a>
                    <img src="images\bg\navSelected.svg">
                </li>
                <li>
                    <a href="#Agentura">Agentura</a>
                    <img src="images\bg\navSelected.svg">
                </li>
                <li>
                    <a href="#Onás">O nás</a>
                    <img src="images\bg\navSelected.svg">
                </li>
                <li>
                    <a href="#Výzkum">Výzkum</a>
                    <img src="images\bg\navSelected.svg">
                </li>
                <li>
                    <a href="#Kontakt">Kontakt</a>
                    <img src="images\bg\navSelected.svg">
                </li>
            </ul>
            <button class="klienstkyPortal navButton">Klientský portál</button>
            <div class="socials">
                <button class="linkedIn navButton">
                    <img src="images\bg\linkedinLight.svg" alt="">
                </button>
                <button class="facebook navButton">
                    <img src="images\bg\facebookLight.svg" alt="">              
                </button>
            </div>
        </div>
    </div>
</nav>