<nav>
    <div class="container">
        <div class="navLogo">
            <img class="logo" src="images\bg\adwheelsLogoWhite.svg" alt="">
            <button class="burgerMenuBtn">
                <svg class="burger" width="4" height="16" viewBox="0 0 4 16" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="2" cy="2" r="2" fill="black"/><circle cx="2" cy="8" r="2" fill="black"/><circle cx="2" cy="14" r="2" fill="black"/></svg>
                <svg class="cross" width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="26.1924" y="9.19238" width="24" height="2" transform="rotate(135 26.1924 9.19238)" fill="black"/><rect x="9.22168" y="7.77832" width="24" height="2" transform="rotate(45 9.22168 7.77832)" fill="black"/></svg>
            </button>
        </div>
        
        <div class="navButtons">
            <ul>
                <li class="sellected">
                    <a href="#Inzerent">Inzerent</a>
                    <div class="navSelectedLine"></div>
                </li>
                <li>
                    <a href="#Dopravce">Dopravce</a>
                    <div class="navSelectedLine"></div>
                </li>
                <li>
                    <a href="#Agentura">Agentura</a>
                    <div class="navSelectedLine"></div>
                </li>
                <li>
                    <a href="#Onás">O nás</a>
                    <div class="navSelectedLine"></div>
                </li>
                <li>
                    <a href="#Výzkum">Výzkum</a>
                    <div class="navSelectedLine"></div>
                </li>
                <li>
                    <a href="#Kontakt">Kontakt</a>
                    <div class="navSelectedLine"></div>
                </li>
            </ul>
            <button class="klienstkyPortal navButton">Klientský portál</button>
            <div class="socials">
                <a class="linkedIn navButton" href="https://www.linkedin.com/company/adwheelscz/"><img src="images\bg\linkedinLight.svg" alt=""></a>
                <a class="facebook navButton" href="https://www.facebook.com/adwheelscz"><img src="images\bg\facebookLight.svg" alt=""></a>
            </div>
        </div>
    </div>
</nav>