<nav>
    <div class="container">
        <div class="navLogo">
            <img class="logo" src="images\bg\adwheelsLogoWhite.svg" alt="">
        </div>
        
        <div class="navButtons">
            <ul>
                <li class="sellected">
                    <a href="#Inzerent">Inzerent</a>
                    <img src="images\bg\navSelected.svg">
                </li>
                <li>
                    <a href="#Dopravce">Dopravce</a>
                    <img src="images\bg\navSelected.svg">
                </li>
                <li>
                    <a href="#Agentura">Agentura</a>
                    <img src="images\bg\navSelected.svg">
                </li>
                <li>
                    <a href="#Onás">O nás</a>
                    <img src="images\bg\navSelected.svg">
                </li>
                <li>
                    <a href="#Výzkum">Výzkum</a>
                    <img src="images\bg\navSelected.svg">
                </li>
                <li>
                    <a href="#Kontakt">Kontakt</a>
                    <img src="images\bg\navSelected.svg">
                </li>
            </ul>
            <button class="klienstkyPortal navButton">Klientský portál</button>
            <button class="linkedIn navButton">
                <img src="images\bg\linkedinLight.svg" alt="">
            </button>
            <button class="facebook navButton">
                <img src="images\bg\facebookLight.svg" alt="">              
            </button>
        </div>
    </div>
</nav>