nav {
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 9999;
    height: 99px;    
    
    /* opacity: 0.08; */
    border-bottom: 0.75px solid rgba(58, 58, 58, 0.08);
    background-color: white;

    .container {
        height: 99px; 
        display: flex; 
        justify-content:space-between;
        align-items: center;
    }
    .navLogo {
        margin-right: 116px;
    }
    ul {
        width: 640px;
    
        display: flex; 
        justify-content: space-around;
        align-items: center;
        justify-content: space-evenly; 
    }
    a {
        text-align: center;
        /* margin: 48; */
        font-family: 'Objectivity';
        font-style: normal;
        text-decoration: none;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #3A3A3A;
    }
    .navButton {
        margin: 0px 3px 0px 3px;    
        background-color: rgba(58, 58, 58, 0.05);
        border-radius: 8px;
        border: 0px;
    }
    .klienstkyPortal {
        @include bodytext14();
        margin-left: 21px;
        width: 170px;
        height: 54px;
    }
    .linkedIn, .facebook {
        width: 54px;
        height: 54px;
    }
}







