.info {
    margin-top: 212px;
    h3 {
        display: flex;
        justify-content: center;
        margin: 212px 0px 70px 0px;

        @include h3Medium();

        color: #3A3A3A;
    }

    .infoScrollBar {
        width: 2px;
        height: 536px;

        background-color: rgba(180, 164, 200, 0.15);
        border-radius: 2px;
    }

    .infoScroll {
        width: 2px;
        height: 74px;
        background: #33266B;
        border-radius: 2px;
        opacity: 1;
    }

    .container {
        display: flex;
        /* justify-content: center; */  
    }

    .infoList {
        margin: 6px 0px 0px 78px;
    
        .infoHeading{
            @include h4Medium();
            color: #3A3A3A;
        }

        .infoHeading:nth-of-type(n+1){
            margin: 64px 0px 64px 0px;
        }

        .infoHeading:nth-of-type(1){
            margin: 32px 0px 32px 0px;
            color: #33266B;
        }

        .infoNum{
            font-family: 'Objectivity-Medium';
            font-style: normal;
            font-weight: 700;
            font-size: 80px;
            line-height: 80px;
            letter-spacing: -2px;
            color: #33266B;
            opacity: 0.04;
            position: absolute;
            top: -28px; 
            left: -25px;
            margin: 0;
        } 

        .infoText {
            @include bodyText14pxRegular();
            color: #3A3A3A;
            opacity: 0.8;
            max-width: 518px;
            margin: 32px 0px 32px 0px;
        }
    }

    img {
        /* float: left; */
        margin-left: 169px;
    }
}