<section class="info">
    <h3 class="headline2">Jak funguje reklama v pohybu?</h2>
    <div class="container">
        <div class="infoScrollBar"><div class="infoScroll"></div></div>
        <ul class="infoList">
            <li class="infoHeading"><span class="infoNum">01</span> Využívá netradiční inzertní plochy
                <li class="infoText">Tato neobvyklá forma venkovní reklamy vám umožní zasáhnout více lidí z více oblastí v momentech, kdy jsou nejvnímavější. Tedy mimo domov - na silnicích, ve městech a v okolí supermarketů. Navíc ji mají před očima déle, než jiné inzertní plochy, je nepřehlédnutelá, nejde zmačkat ani přeladit a potenciální zákazníky opravdu překvapí.</li>
            </li>
            <li class="infoHeading">Doplňuje komunikační mix</li>
            <li class="infoHeading">Šetří náklady díky znalosti</li>
            <li class="infoHeading">Předjede vaši konkurenci</li>
        </ul>
        <img src="images/content/infoKamion.png" alt="">
    </div>                
</section>