<section class="dopady">
    <h3>Dopady spolupráce v číslech</h2>
    <div class="container">
        <div class="card2">
            <img src="images/bg/4outof5.svg" alt="">
            <h2>4 z 5</h2>
            <p>potenciálních zákazníků si reklamy na kamionu všimne a každý pátý si poté reklamu vyhledá</p>
        </div>
        <div class="card2">
            <img src="images/bg/3outof5.svg" alt="">
            <h2>3 z 5</h2>
            <p>si reklamu vybaví<br>i několik týdnů poté, co ji<br>viděli</p>
        </div>
        <div class="card2">
            <img src="images/bg/1outof3.svg" alt="">
            <h2>1 ze 3</h2>
            <p>reaguje na další inzerentovu komunikaci poté, co viděli<br>reklamu na kamionu</p>
        </div>
    </div> 
    <a class="zdroj" href="https://adwheels.cz/wp-content/uploads/2020/10/Vliv-efektu-p%C5%99ekvapen%C3%AD-vyvolan%C3%A9ho-nekonven%C4%8Dn%C3%AD-formou-komunikace-na-%C3%BAstn%C3%AD-doporu%C4%8Den%C3%AD-Adwheels.pdf">Zdroj: Výzkum zpracovaný pro Adwheels vědci z King's College v Londýně, 2020</a>
</section>