<section class="footer">
    <div class="container bulkInfo">
        <div class="logoMoto">
            <img src="images/bg/adwheelsLogoWhite.svg" alt="">
            <p>Překvapte své zákazníky právě tam, kde se pohybují. Právě tehdy, kdy jsou nejvnímavější.</p>
        </div>
        <div class="linkColumn">
            <p>Odkazy</p>
            <a href="">Inzerent</a>
            <a href="">Dopravce</a>
            <a href="">Agentura</a>
        </div>
        <div class="linkColumn">
            <p>Společnost</p>
            <a href="">O nás</a>
            <a href="">Výzkum</a>
            <a href="">GDPR</a>
        </div>
        <div class="linkColumn">
            <p>Další odkazy</p>
            <a href="">Kontakt</a>
            <a href="">Klientský portál</a>
        </div>
        <div class="linkColumn">
            <p>Kancelář</p>
            <p class="adress">Adwheels s.r.o.<br>Žirovnická 3124<br>Praha 10 - Záběhlice<br>106 00</p>
        </div>
    </div>
    <div class="line"></div>
    <div class="container legalInfo">
        <p>Copyright © 2020 Adwheels - Reklama v pohybu | IČO: 04145151 | DIČ: CZ04145151 | Společnost je zapsána v obchodním rejstříku | Společnost je plátce DPH</p>
    </div>
</section>