.klienti {
    margin-top: 150px;
    padding-top: 100px;
    @include windowMax2048p(){
        margin-top: 180px;
    }
    @include windowMax1440p(){
        margin-top: 170px;
    }
    h2 {
        @include h3Medium();
        text-align: center;
    }

    .container {
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 70px;
    }

    .companyPlaceholder {
        @include bodyText14pxBold();
        background-image: url("images/bg/klientiPlaceholder.svg");

        width: 184px;
        height: 64px;

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    @include mobileMax768p(){
        margin-top: 120px;
        h2 {
            @include h4Medium();
            text-align: center;
            max-width: 190px;
            margin: 0 auto 0 auto;
        }
        .container {
            // margin-top: 40px;
            // display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            row-gap: 20px;
            column-gap: 32px;
        }
        .companyPlaceholder{
            margin-top: 20px;
        }
    }
}