.klienti {
    margin-top: 210px;
    @include windowMax1440p(){
        margin-top: 190px;
    }
    h2 {
        @include h3Medium();
        text-align: center;
        margin: 0 0 32px 0;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .klientLogo {
        margin-right: 70px;
    }


    .companyPlaceholder {
        @include bodyText14pxBold();
        background-image: url("images/bg/klientiPlaceholder.svg");

        width: 184px;
        height: 64px;

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}