<section class="klienti">
    <h2 class="headline2">Přidejte se k našim klientům</h2>
    <div class="container">
        <div class="klientLogo"><img src="resources/spotifyLogo.svg" alt=""></div>
        <div class="klientLogo"><img src="resources/spotifyLogo.svg" alt=""></div>
        <div class="klientLogo"><img src="resources/spotifyLogo.svg" alt=""></div>
        <div class="klientLogo"><img src="resources/spotifyLogo.svg" alt=""></div>
        <div class="klientLogo"><img src="resources/spotifyLogo.svg" alt=""></div>
        <div class="companyPlaceholder">Držíme místo<br>i vaší firmě</div>
    </div>
</section>