<section class="pricing">
    <h2>Jak moc chcete být vidět?</h2>
    <div class="container">
        <div class="card4 card4Side">
            <h4>Adwheels Back</h3>
            <img src="images/bg/adwheelsBack.png" alt="">
            <ul>
                <li class="checked"><img src="images/bg/circleCheck.svg" alt=""><p>Zadní polep</p></li>
                <li class="unchecked"><img src="images/bg/circleCross.svg" alt=""><p>Noční plachty</p></li>
                <li class="unchecked"><img src="images/bg/circleCross.svg" alt=""><p>Polep tahače</p></li>
            </ul>
        </div>
        <div class="card4 card4Middle">
            <h4>Adwheels Full</h3>
            <img src="images/bg/adwheelsFull.png" alt="">
            <ul>
                <li class="checked"><img src="images/bg/circleCheck.svg" alt=""><p>Zadní polep</p></li>
                <li class="checked"><img src="images/bg/circleCheck.svg" alt=""><p>Noční plachty</p></li>
                <li class="unchecked"><img src="images/bg/circleCross.svg" alt=""><p>Polep tahače</p></li>
            </ul>
        </div>
        <div class="card4 card4Side">
            <h4>Adwheels Full +</h3>
            <img src="images/bg/adwheelsFullPlus.png" alt="">
            <ul>
                <li class="checked"><img src="images/bg/circleCheck.svg" alt="">Zadní polep</li>
                <li class="checked"><img src="images/bg/circleCheck.svg" alt=""><p>Noční plachty</p></li>
                <li class="checked"><img src="images/bg/circleCheck.svg" alt=""><p>Polep tahače</p></li>
            </ul>
        </div>
    </div>
</section>