.pricing .container {
    margin-top: 55px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.pricing h2 {
    text-align: center;
    margin: 220px 0 0 0;
    
}

.card4 {
    display: block;
    text-align: center;
}

.cardLeft,.cardRight{
    height: 558px;
    width: 360px;

    background: #F3F1F6;
    border-radius: 12px;
}

.cardMiddle {
    height: 639px;
    width: 440px;

    background: #33266B;
    border-radius: 12px;
}

.cardLeft h4, .cardRight h4 {
    font-family: 'Objectivity-Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -1.5px;
    color: #33266B;
    margin: 72px 0 0 0;
}

.cardMiddle h4 {
    font-family: 'Objectivity-Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -1.5px;
    color: #FFFFFF;
    margin: 80px 0 0 0;
}

.cardLeft > img {margin: 16px 0 26px 0; }

.cardMiddle > img {margin: 28px 0 56px 0; }

.cardRight > img {margin: 36px 0 56px 0; }

.card4 ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    /* background-color: #000000; */
}

.card4 ul li p {
    display: inline;
}

.checked, .unchecked {
    font-family: 'Objectivity';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #33266B;
    width: 160px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 16px;
}

.cardRight .unchecked, .cardLeft .unchecked {
    opacity: 0.5;
}

.cardMiddle .unchecked {
    color: #FFFFFF;
    opacity: 0.5;
}

.cardMiddle .checked {
    color: #FFFFFF;
}

.checked img, .unchecked img{
    margin-right: 16px;
}