<section class="pricing">
    <h2 class="headline2">Jak moc chcete být vidět?</h2>
    <div class="container">
        <div class="card4 cardLeft">
            <h4>Adwheels Back</h3>
            <img src="resources/adwheelsBack.png" alt="">
            <ul>
                <li class="checked"><img src="resources/circleCheck.svg" alt=""><p>Zadní polep</p></li>
                <li class="unchecked"><img src="resources/circleCross.svg" alt=""><p>Noční plachty</p></li>
                <li class="unchecked"><img src="resources/circleCross.svg" alt=""><p>Polep tahače</p></li>
            </ul>
        </div>
        <div class="card4 cardMiddle">
            <h4>Adwheels Full</h3>
            <img src="resources/adwheelsFull.png" alt="">
            <ul>
                <li class="checked"><img src="resources/circleCheck.svg" alt=""><p>Zadní polep</p></li>
                <li class="checked"><img src="resources/circleCheck.svg" alt=""><p>Noční plachty</p></li>
                <li class="unchecked"><img src="resources/circleCross.svg" alt=""><p>Polep tahače</p></li>
            </ul>
        </div>
        <div class="card4 cardRight">
            <h4>Adwheels Full +</h3>
            <img src="resources/adwheelsFullPlus.png" alt="">
            <ul>
                <li class="checked"><img src="resources/circleCheck.svg" alt="">Zadní polep</li>
                <li class="checked"><img src="resources/circleCheck.svg" alt=""><p>Noční plachty</p></li>
                <li class="checked"><img src="resources/circleCheck.svg" alt=""><p>Polep tahače</p></li>
            </ul>
        </div>
    </div>
</section>