<section class="pricing">
    <div class="PricingParalax">
    <h2>Jak moc chcete být vidět?</h2>
    <div class="container">
        <div class="card4 card4Side card4Left">
            <h4>Adwheels Back</h3>
            <img src="images/bg/adwheelsBack.png" alt="">
            <ul>
                <li class="checked"><img src="images/bg/circleCheck.svg" alt=""><p>Zadní polep</p></li>
                <li class="unchecked"><img src="images/bg/circleCross.svg" alt=""><p>Noční plachty</p></li>
                <li class="unchecked"><img src="images/bg/circleCross.svg" alt=""><p>Polep tahače</p></li>
            </ul>
        </div>
        <div class="card4MiddleContainer">
            <div class="card4 card4Middle">
                <div class="card4MiddleChecks">
                    <button class="expand"><img src="images/bg/pricingExpandPlus.svg" alt=""></button>
                    <h4>Adwheels Full</h3>
                    <img src="images/bg/adwheelsFull.png" alt="">
                    <ul>
                        <li class="checked"><img src="images/bg/circleCheck.svg" alt=""><p>Zadní polep</p></li>
                        <li class="checked"><img src="images/bg/circleCheck.svg" alt=""><p>Noční plachty</p></li>
                        <li class="unchecked"><img src="images/bg/circleCrossOnBlue.svg" alt=""><p>Polep tahače</p></li>
                    </ul>
                </div>
                <div class="pricingNumbers">
                    <h4>Vozidlo v číslech</h3>
                    <ul>
                        <li class="pricingStat"><h5>83 m<sup>2</sup></h5>Inzertní plochy</li>
                        <li class="pricingStat"><h5>80 000+</h5>Zásahů za den</li>
                        <li class="pricingStat"><h5>250+</h5>Najetých km/den</li>
                        <li class="pricingStat"><h5>10+ %</h5>Nárůst znalosti</li>
                        <li class="pricingStat"><h5>6+ %</h5>Úspora v online performance</li>
                        <li class="pricingStat"><h5>14 Kč</h5>Cena za 1 tis. zobrazení</li>
                        <li class="pricingStat"><h5>100+</h5>Zastávek po ČR</li>
                        <li class="pricingStat"><h5>100 %</h5>Legální kdekoliv v ČR</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card4 card4Side card4Right">
            <h4>Adwheels Full +</h3>
            <img src="images/bg/adwheelsFullPlus.png" alt="">
            <ul>
                <li class="checked"><img src="images/bg/circleCheck.svg" alt="">Zadní polep</li>
                <li class="checked"><img src="images/bg/circleCheck.svg" alt=""><p>Noční plachty</p></li>
                <li class="checked"><img src="images/bg/circleCheck.svg" alt=""><p>Polep tahače</p></li>
            </ul>
        </div>
    </div>
    </div>
</section>