@font-face {
    font-family: 'Objectivity-Regular';
    src: url('fonts/Objectivity-Regular.otf');
  }
  
@font-face {
    font-family: 'Objectivity-Medium';
    src: url('fonts/Objectivity-Medium.otf');
  }

@mixin h1Medium{
    font-family: 'Objectivity-Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 86px;
    letter-spacing: -1.5px;
    color: #000000;
}
@mixin h2Light{
    font-family: 'Objectivity-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 50px;
    letter-spacing: -1.5px;
    color: #000000;
}
@mixin h2Medium{
    font-family: 'Objectivity-Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 50px;
    letter-spacing: -1.5px;
    color: #000000;
}
@mixin h3Light{
    font-family: 'Objectivity-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -1.5px;
    color: #000000;
}
@mixin h3Medium{
    font-family: 'Objectivity-Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -1.5px;
    color: #000000;
}
@mixin h4Regular{
    font-family: 'Objectivity-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: -1.5px;
    color: #000000;
}
@mixin h4Medium{
    font-family: 'Objectivity-Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: -1.5px;
    color: #000000;
}
@mixin h5Medium{
    font-family: 'Objectivity-Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    letter-spacing: -1.5px;
    color: #000000;
}
@mixin bodyText18pxRegular{
    font-family: 'Objectivity-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}
@mixin bodyText18pxMedium{
    font-family: 'Objectivity-Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}
@mixin bodyText16pxRegular{
    font-family: 'Objectivity-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
}
@mixin bodyText16pxMedium{
    font-family: 'Objectivity-Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #000000;
}
@mixin bodyText14pxRegular{
    font-family: 'Objectivity-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    letter-spacing: 0.05px;
}
@mixin bodyText14pxMedium{
    font-family: 'Objectivity-Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}
@mixin bodyText14pxBold{
    font-family: 'Objectivity-Regular';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.5px;
    color: #000000;
}
@mixin bodyText12pxCAPS{
    font-family: 'Objectivity-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    color: #000000;
}


/*
@include h1Medium();
@include h2Light();
@include h2Medium();
@include h3Light();
@include h3Medium();
@include h4Regular();
@include h4Medium();
@include h5Medium();
@include bodyText18pxRegular();
@include bodyText18pxMedium();
@include bodyText16pxRegular();
@include bodyText16pxMedium();
@include bodyText14pxRegular();
@include bodyText14pxMedium();
@include bodyText14pxBold();
@include bodyText12pxCAPS();
*/