@mixin navHover{
    @include windowDesktop{
        &:hover{
            transition: background-color 0.25s, color 0.25s;
            background: #D99A27;
            color: white; 
            cursor: pointer;
        }
    }
}

@mixin purpleHover{
    @include windowDesktop{
        &:hover{
            transition: 0.25s;
            background-color: #190F43;
            cursor: pointer;
        }
    }
}

@mixin yellowHover{
    @include windowDesktop{
        &:hover{
            transition: background-color 0.25s;
            background-color: #BA7C0A;    
            cursor: pointer;
        }
    }
}