nav {
    margin: 0px 0px 0px 0px;
}
.heroImage {
    margin: 0px 0px 0px 0px;
}
.info {
   margin: 0px 0px 0px 0px;
}
.map {
    margin: 0px 0px 0px 0px;
}
.vlastnosti {
    margin: 0px 0px 0px 0px;
}
.fotoSection {
    margin: 0px 0px 0px 0px;
}
.dopady {
    margin: 0px 0px 0px 0px;
}
.quotes {
    margin: 0px 0px 0px 0px;
}
.horizontalScroll {
    margin: 0px 0px 0px 0px;
}
.pricing {
    margin: 0px 0px 0px 0px;
}
.reklamaVPohybu {
    margin: 0px 0px 0px 0px;
}
.realizace {
    margin: 0px 0px 0px 0px;
}
.videoReference {
    margin: 0px 0px 0px 0px;
}
.klienti {
    margin: 0px 0px 0px 0px;
}
.kontakt {
    margin: 0px 0px 0px 0px;
}
.viceInfo {
    margin: 0px 0px 0px 0px;
}
.footer {
    margin: 0px 0px 0px 0px;
}







