.vlastnosti {
    margin-top: 120px;
    // height: 100vh;
    @include windowMax2048p(){
        margin-top: 120px;
    }
    @include windowMax1920p(){
        margin-top: 180px;
    }
    @include windowMax1440p(){
        margin-top: 180px;
    }
    .container{
        display: flex; 
        justify-content: space-between;
        align-items: center;
        column-gap: 24px;
        // @include standartUpTransition();
        margin-top: 62px;
        @include windowMax1440p(){
            max-width: 1046px;
            margin-top: 48px;
        }
    }

    h3 {
        @include h3Medium();
        text-align: center;
        
    }

    .card1 {
        width: 392px;
        height: 480px;
        background: #F3F1F6;
        border-radius: 12px;
        display: block;
        align-items: center;
        align-content: center;
        text-align: center;
        

        img {
            object-fit: cover;
            width: 164px;
            height: 75px;
            margin: 81px 0px 48px 0px;
            @include windowMax1440p(){
                margin: 60px 0px 48px 0px;
            }

            &:nth-of-type(1){
                transform: scale(1.2);
            }
            &:nth-of-type(2){
                transform: scale(1.4);
            }
            &:nth-of-type(3){
                transform: scale(1.4);
            }
            
        }

        h6 {
            @include h4Medium();
            color: #33266B;
        }

        p {
            @include bodyText14pxRegular();
            color: #33266B;
            margin: 16px auto 0px auto;
            max-width: 312px;
            @include windowMax1440p(){
                max-width: 270px;
            }
        }
    }
    @include mobileMax768p(){
        .container{
            margin-top: 38px;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
        }
        h3{
            @include h4Medium();
            color: #3a3a3a;
            padding: 0 28px 0 28px;
            margin: 0 auto 0 auto;
        }
        .card1 {
            p {
                max-width: 271px;
            }
        }
    }

}