<section class="vlastnosti">
    <h3 class="h3Medium">Rozjeďte kampaň na plný plyn</h3>
    <div class="container">
        <div class="card1">
            <img src="images/bg/velikost.gif" alt="">
            <h6>Větší reklamu<br>neviděli</h6>
            <p>Reklamní plochu o velikosti 83 m2 v kombinaci s atraktivním vizuálem nikdo nepřehlédne. Díky své unikátní velikosti učiní tato forma reklamy Vaši značku snáze zapamatovatelnou. To je důležité, protože lidé jednoduše nekupují to, co neznají. </p>
        </div>
        <div class="card1">
            <img src="images/bg/efektivita.gif" alt="">
            <h6>Zasáhnete více lidí<br>z více oblastí</h6>
            <p>Vaše reklama je neustále v pohybu a to přesně tam, kde ji potřebujete, i v místech, kde nejsou tradiční inzertní plochy dostupné. Díky interaktivnímu GPS portálu můžete její pohyb sledovat 24/7.</p>
        </div>
        <div class="card1">
            <img src="images/bg/surprise.gif" alt="">
            <h6>Výzkumem prokázaný<br>efekt překvapení</h6>
            <p>Společně s vědci na King's College v Londýně jsme prokázali, že netradiční reklamní plochy vyvolávají u zákazníků překvapení. Díky tomu si vaše sdělení lépe zapamatují, znalost značky dramaticky naroste a vy snáze prodáte. </p>
        </div>
    </div>
</section>