<section class="viceInfo">
    <h2>Zjistěte víc o reklamě v pohybu</h2>
    <div class="container">
        <div class="card6">
            <img src="images/content/infoFoto1.png" alt="">
            <h4>Co by měl každý ředitel vědět o venkovní reklamě</h4>
            <p>Venkovní reklama je nejúčinnější nástroj pro generování online aktivity, podněcuje přímou návštěvnost a pomáhá firmám dlouhodobě růst.</p>
            <a class="read" href="https://adwheels.cz/clanky/co-by-mel-kazdy-reditel-vedet-o-venkovni-reklame/">Přečíst <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L4.67453 4.29293C5.10849 4.68182 5.10849 5.31818 4.67453 5.70707L1 9" stroke="#33266B" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/></svg></a>
        </div>
        <div class="card6">
            <img src="images/content/infoFoto2.png" alt="">
            <h4>Reklama na kamionu zasáhne až 2 miliony lidí měsíčně</h4>
            <p>Adwheels nabízí reklamu na návěsech nákladních automobilů. Chce tak oslovit lidi neobvyklým formátem, který nelze přeladit ani vypnout.</p>
            <a class="read" href="https://www.mediaguru.cz/clanky/2022/03/adwheels-reklama-na-kamionu-zasahne-az-2-mil-lidi-mesicne/">Přečíst <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L4.67453 4.29293C5.10849 4.68182 5.10849 5.31818 4.67453 5.70707L1 9" stroke="#33266B" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/></svg></a>
        </div>
        <div class="card6">
            <img src="images/content/infoFoto3.png" alt="">
            <h4>Reklama v pohybu v číslech</h4>
            <p>Reklama na kamionu je v porovnání s konvenčními reklamními formáty výraznější, zapamatovatelnější a efektivnější v generování ústního doporučení.</p>
            <a class="read" href="https://adwheels.cz/clanky/reklama-v-pohybu-v-cislech/">Přečíst <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L4.67453 4.29293C5.10849 4.68182 5.10849 5.31818 4.67453 5.70707L1 9" stroke="#33266B" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/></svg></a>
        </div>
    </div>
    <div class="container">
        <button class="showInfoBtn">Zobrazit vše</button>
    </div>
</section>