<section class="viceInfo">
    <h2>Zjistěte víc o reklamě v pohybu</h2>
    <div class="container">
        <div class="card6">
            <img src="images/content/infoFoto1.png" alt="">
            <h4>Co by měli marketingový ředitelé<br>vědět o reklamě v pohybu?</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since then.</p>
            <button class="precist">Přečíst <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L4.67453 4.29293C5.10849 4.68182 5.10849 5.31818 4.67453 5.70707L1 9" stroke="#33266B" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/></svg></button>
        </div>
        <div class="card6">
            <img src="images/content/infoFoto2.png" alt="">
            <h4>Reklama na kamionu zasáhne<br>až 2 miliony lidí měsíčně</h4>
            <p>Adwheels nabízí reklamu na návěsech nákladních automobilů. Chce tak oslovit lidi neobvyklým formátem, který nelze přeladit ani vypnout.</p>
            <button class="precist">Přečíst <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L4.67453 4.29293C5.10849 4.68182 5.10849 5.31818 4.67453 5.70707L1 9" stroke="#33266B" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/></svg></button>
        </div>
        <div class="card6">
            <img src="images/content/infoFoto3.png" alt="">
            <h4>Reklama v pohybu v číslech</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since then.</p>
            <button class="precist">Přečíst <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L4.67453 4.29293C5.10849 4.68182 5.10849 5.31818 4.67453 5.70707L1 9" stroke="#33266B" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/></svg></button>
        </div>
    </div>
    <div class="container">
        <button class="zobrazitInfo">Zobrazit vše</button>
    </div>
</section>